@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Gravitas+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 .texto-resultado {
   font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
 }